<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right" ></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Teacher Transfer
                            Management System
                            Case Study</span>
                    </nav>
                    <h2>Teacher Transfer
                        Management System
                        Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/teacher.png" alt="">
                    <h1>Business Objective</h1>
                    <p>TTMS ( Teacher Transfer Management System) Application is developed for automating the
                        procedure of Intra District and Inter District Transfer for all Teaching and Non-Teaching
                        Staff. The main purpose of this application is to provide Transparency, Flexible and
                        scalable solutions. </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/teacher01.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/teceher02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/teacher03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Multiple Teacher Transfer Operation</h6>
                        <p>System was made so that end user can know exact number of teachers transferred in the
                            previous month, showing exact numbers and then allowing them to transfer to another
                            district was a little stressful.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Integrating New Technologies</h6>
                        <p>Earlier System was used to work manually, data loss and paperwork was the main issue,
                            converting the same system into digitalisation and removing old problems with a new
                            system was a hectic task.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Cost Savings and Competitive Advantage </h6>
                        <p>Making a system that is cost effective and using multiple features at the same time was a
                            challenge that was faced for the first time. Managing and modifying data was made easy
                            for end user.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>TTMS was the first system that we created for teachers, through this system a lot of
                            money and paper was saved as this was a totally digitalised system. Fully developed and
                            tested by our experienced team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/digitalisedprocedures.png" alt="">
                        <h3>Digitalised Procedures</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/eas.jpg" alt="">
                        <h3>Easy to use</h3>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 feat_cont">
                <div class="img-sec">
                    <img src="../../assets/img/icon/features-overview-concept.jpg" alt="">
                </div>


            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/data-scure.png" alt="">
                        <h3>Data Security
                        </h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/mutli.png" alt="">
                        <h3>Multi User access</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Handling Transfer of more than one teacher was quite difficult to manage, to overcome
                            this heavy burden TTMS system was developed and used throughout Assam government. </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/results-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
