<section class="page_title associates_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Our Associates</span>
                    </nav>
                    <h2>Our Associates</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumbs end -->
<section class="sco_services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading heading_half">
                    <h1>Our Associates</h1>
                    <p>Developing Credence By Ensuring Quality Standard & We Prove It All With Our Certificates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-2">
                <div class="box_associates box_1">
                    <img src="../../assets/img/icon/emudhra.png" alt="" data-pagespeed-url-hash="117433914" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_2">
                    <img src="../../assets/img/icon/gem.png" alt="" data-pagespeed-url-hash="1386662449" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_3">
                    <img src="../../assets/img/icon/automation.png" alt="" data-pagespeed-url-hash="1097368287" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_4">
                    <img src="../../assets/img/icon/oracle.png" alt="" data-pagespeed-url-hash="830975698" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_5">
                    <img src="../../assets/img/icon/startupindia.png" alt="" data-pagespeed-url-hash="796859410" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_6">
                    <img src="../../assets/img/icon/paloalto.png" alt="" data-pagespeed-url-hash="3452571210" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_7">
                    <img src="../../assets/img/icon/msme.png" alt="" data-pagespeed-url-hash="3055235250" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_8">
                    <img src="../../assets/img/icon/Dell.png" alt="" data-pagespeed-url-hash="879139285" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_9">
                    <img src="../../assets/img/icon/amazon.png" alt="" data-pagespeed-url-hash="3943222004" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_10">
                    <img src="../../assets/img/icon/tableau.png" alt="" data-pagespeed-url-hash="2340182024" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_11">
                    <img src="../../assets/img/icon/veritas.png" alt="" data-pagespeed-url-hash="1186912234" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_12">
                    <img src="../../assets/img/icon/verti.jpg" alt="" data-pagespeed-url-hash="3506589618" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_13">
                    <img src="../../assets/img/icon/veeam.png" alt="" data-pagespeed-url-hash="1062680216" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_14">
                    <img src="../../assets/img/icon/uipath.png" alt="" data-pagespeed-url-hash="3981478905" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_15">
                    <img src="../../assets/img/icon/microsoft.png" alt="" data-pagespeed-url-hash="1749410348" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_16">
                    <img src="../../assets/img/icon/quick-heal.png" alt="" data-pagespeed-url-hash="3498300300" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_17">
                    <img src="../../assets/img/icon/netsparker.png" alt="" data-pagespeed-url-hash="1105087285" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_18">
                    <img src="../../assets/img/icon/dell-emc.png" alt="" data-pagespeed-url-hash="3350311211" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_19">
                    <img src="../../assets/img/icon/tenable.png" alt="" data-pagespeed-url-hash="2114119165" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="box_associates box_20">
                    <img src="../../assets/img/icon/redington.png" alt="" data-pagespeed-url-hash="1755189600" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
          
            <div class="col-6 col-lg-2">
                <div class="box_associates box_22">
                    <img src="../../assets/img/icon/techdata.png" alt="" data-pagespeed-url-hash="1862188120" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
        </div>
    </div>
</section>
