<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown hover">
          <a class="nav-link border-left" aria-current="page" href="#">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>AUTOMATION </b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> SOLUTIONS</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link " aria-current="page" href="#">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Website </b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> Development</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>

        </li>

        <li class="nav-item dropdown hover has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Software</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> Development</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row mg-3">
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">
                  <ul class="list-unstyled">
                    <li>
                      <a href="billing-software" title="Billing software">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/invoice.png" alt="" data-pagespeed-url-hash="82190607"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Billing software</h3>
                        </div>
                      </a>
                    </li>
                    <li><a href="ios" title="iOS Apps">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/ios.png" alt="" data-pagespeed-url-hash="1578442587"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>iOS Apps</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a href="android-app" title="Android Apps">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/adr.png" alt="" data-pagespeed-url-hash="3628289105"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Android Apps</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a href="inventory-software" title="Inventory Software">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/inv.png" alt="" data-pagespeed-url-hash="2537158363"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Inventory Software</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div>
            </div><!-- end row -->
          </div>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link" href="#">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Marketing</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> & maintenance</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>seo</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> services</b></span>
              <span class="dev-bot"></span>
            </div>

          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row mg-3">
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">
                  <ul class="list-unstyled">
                    <li>
                      <a href="seo-service" title="Ecommerce SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/eccoemer.png" alt="" data-pagespeed-url-hash="3032496143"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Ecommerce SEO</h3>
                        </div>
                      </a>
                    </li>
                    <li><a href="seo-service" title="Content Marketing">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/content.png" alt="" data-pagespeed-url-hash="4284895479"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Content Marketing</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">

                    <li><a href="seo-service" title="Local SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/sec01.png" alt="" data-pagespeed-url-hash="2014596024"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Local SEO</h3>
                        </div>
                      </a></li>
                    <li><a href="seo-service" title="Off Page SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/off.png" alt="" data-pagespeed-url-hash="3731610953"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Off Page SEO</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a href="seo-service" title="Online Reputation Management">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/online.png" alt="" data-pagespeed-url-hash="505204191"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Online Reputation Management</h3>
                        </div>
                      </a></li>

                    <li><a href="seo-service" title="Guest Posting">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/gust.png" alt="" data-pagespeed-url-hash="907777231"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="serive_heading">
                          <h3>Guest Posting</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div>
            </div><!-- end row -->
          </div>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link" href="#">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>our</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> portfolio</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about" title="About Us"> ABOUT US</a>
        </li>
        <li class="nav-item">
          <div class="btn btn_enquiry" data-toggle="modal" data-target="#modals">Enquire Now</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
