<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="../../assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown hover">
          <a class="nav-link border-left" aria-current="page" routerLink="/automation">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>AUTOMATION </b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> SOLUTIONS</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link " aria-current="page" routerLink="/website-development">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Website </b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> Development</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>

        </li>

        <li class="nav-item dropdown hover has-megamenu">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Software</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> Development</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row mg-3">
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">
                  <ul class="list-unstyled">
                    <li>
                      <a routerLink="/billing" title="Billing software">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/invoice.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Billing software</h3>
                        </div>
                      </a>
                    </li>
                    <li><a routerLink="/ios" title="iOS Apps">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/ios.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>iOS Apps</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a routerLink="/android" title="Android Apps">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/adr.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Android Apps</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a routerLink="/inventory" title="Inventory Software">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/inv.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Inventory Software</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div>
            </div><!-- end row -->
          </div>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link" routerLink="/marketing">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>Marketing</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> & maintenance</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>seo</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> services</b></span>
              <span class="dev-bot"></span>
            </div>

          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row mg-3">
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">
                  <ul class="list-unstyled">
                    <li>
                      <a routerLink="/eccommerce" title="Ecommerce SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/eccoemer.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Ecommerce SEO</h3>
                        </div>
                      </a>
                    </li>
                    <li><a routerLink="/content" title="Content Marketing">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/content.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Content Marketing</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">

                    <li><a routerLink="/localseo" title="Local SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/sec01.png">
                        </div>
                        <div class="serive_heading">
                          <h3>Local SEO</h3>
                        </div>
                      </a></li>
                    <li><a routerLink="/offpageseo" title="Off Page SEO">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/off.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Off Page SEO</h3>
                        </div>
                      </a></li>

                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="service_content col-lg-4 col-6 col-12">
                <div class="col-megamenu">

                  <ul class="list-unstyled">
                    <li><a routerLink="/onlinereputation" title="Online Reputation Management">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/online.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Online Reputation Management</h3>
                        </div>
                      </a></li>

                    <li><a routerLink="/guestposting" title="Guest Posting">
                        <div class="serive_img">
                          <img src="../../assets/img/icon/gust.png" alt="">
                        </div>
                        <div class="serive_heading">
                          <h3>Guest Posting</h3>
                        </div>
                      </a></li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div>
            </div><!-- end row -->
          </div>
        </li>
        <li class="nav-item dropdown hover">
          <a class="nav-link" routerLink="/our-portfolio">
            <div class="service_header">
              <span class="service" title="AUTOMATION SOLUTIONS"><b>our</b></span>
              <span class="eccommerce" title="AUTOMATION SOLUTIONS"><b> portfolio</b></span>
              <span class="dev-bot"></span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" title="About Us"> ABOUT US</a>
        </li>
        <li class="nav-item">
          <div class="btn btn_enquiry"  data-bs-toggle="modal" data-bs-target="#exampleModal">Enquire Now</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
