<!-- Footer Start -->

<footer class="page-footer">
    <div class="container-fluid header_desgin">
      <div class="footer-inner row">
        <div class="footer-center footer_desktop_hide col-lg-8 text-center">
          <h2>Let's Work Together</h2>
          <div class="footer-address-center field--name-body block--lets-work-together">
            <h1>
              <a href="#" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="link-content">Start a project</span>
              </a>
            </h1>
          </div>
          <div>
            <ul class="my-custom-menu">
              <li class="menu-item"><a routerLink="/About-us" title="ABOUT US">About Us</a></li>
              <li class="menu-item"><a routerLink="/our-associates" title="OUR ASSOCIATES">Our
                  Associates</a></li>
              <li class="menu-item"><a routerLink="/Our-Portfolio" title="OUR PORTFOLIO">Our Portfolio</a></li>
              <li class="menu-item"><a routerLink="/contact-us" title="CONTACT US">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-left col-lg-3 col-sm-4 ">
          <div class="widget-item">
            <h4>Contact Us</h4>
            <ul class="contact_information">
              <li><i class="fa fa-map-marker" aria-hidden="true" style="
                        width: 40px;"></i>
                <a href="https://goo.gl/maps/8JthTJxdP5etAMeK9" target="blank">
                  <p>
                    C1001, Tower C, KLJ Noida One Building, Sector 62, Noida, Uttar Pradesh - 201309
                  </p>
                </a>
              </li>
              <li><i class="fa fa-map-marker" aria-hidden="true" style="
                        width: 40px;"></i>
                <a href="https://goo.gl/maps/cRLpBWzy9PfuFs4h6" target="blank">
                  <p>
                    B-222, Shardha Avenue, Sheeshram Complex, Main market Badarpur, New Delhi-44
                  </p>
                </a>
              </li>
  
              <li><i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:support@avenirinnovative.com" style="font-weight: 400;">
                  sales@avenirinnovative.com</a>
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91-9711139539">
                  <p> +91-9711139539</p>
                </a> </li>
            </ul>
  
            <ul class="footer_social">
              <li><a href="https://www.facebook.com/avenirinovative/" title="Facebook" target="blank"><i
                    class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/avenirinovative" title="twitter" target="blank"><i
                    class="fa fa-twitter twiiter"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/avenir-innovative" title="Linkedin" target="blank"><i
                    class="fa fa-linkedin"></i></a>
              </li>
              <li><a href="https://www.instagram.com/avenirinovative/" title="Instagram" target="blank"><i
                    class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
  
        </div>
        <div class="footer-center footer_desktop_show col-lg-6 col-sm-7 text-center">
          <h2>Let's Work Together</h2>
          <div class="footer-address-center field--name-body block--lets-work-together">
            <h1>
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="link-content">Start a project</span>
              </a>
            </h1>
          </div>
          <div>
            <ul class="my-custom-menu">
              <li class="menu-item"><a routerLink="/About-us" title="ABOUT US">About Us</a></li>
              <li class="menu-item"><a routerLink="/our-associates" title="OUR ASSOCIATES">Our
                  Associates</a></li>
              <li class="menu-item"><a routerLink="/Our-Portfolio" title="OUR PORTFOLIO">Our Portfolio</a></li>
              <li class="menu-item"><a routerLink="/contact-us" title="CONTACT US">Contact Us</a></li>
              <li class="menu-item"><a routerLink="/our-team" title="OUR TEAM">Our Team</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-right col-lg-3 col-sm-6">
          <div class="widget-item ">
            <h4>Recent Work</h4>
            <div class="hb-stream columns-3 ">
              <ul>
  
  
                <li><img src="../../assets/img/icon/costgard.png" width="250" height="250"
                    data-pagespeed-url-hash="1246400941"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </li>
                <li><img src="../../assets/img/icon/airforce.png" width="250" height="250"
                    data-pagespeed-url-hash="2160924901"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </li>
                <li><img src="../../assets/img/icon/yatra-icon.png" width="250" height="250"
                    data-pagespeed-url-hash="3754713027"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  
                </li>
                <li><img src="../../assets/img/icon/noida.png" width="250" height="250" style="
                                        margin-top: 22px;" data-pagespeed-url-hash="1113102755"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copy_right text-center" id="copyright-text">
            <p>© Copyrights "Avenir Innovative" 2021. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
