<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">        
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Ease Pharma Labs Case Study</span>
                    </nav>
                    <h2>Ease Pharma Labs Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/pharma-logo.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our Main objective was to develop an application to test different products for end user. We
                        developed a process that will help manufacturers save their time by providing online
                        services.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-16.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-17.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-18.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Traffic Handling</h6>
                        <p>Our challenge was to control number of visitors to the website and to gain control over
                            the orders and type of visitors. Our team worked on website traffic management which
                            helped us to preserve satisfactory performance

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Boost User Experience</h6>
                        <p>When it comes to site's performance, page speed is of the utmost importance. We
                            understood how this metric works and worked to boost search engine rankings and enhance
                            user experience on the website

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Bulk Upload of Products </h6>
                        <p>One of the hardest challenge for us was to upload multiple products. With the help of CSV
                            file, we were able to overcome this challenge and import each and every product in bulk
                            successfully through excel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>To build a successful Ease Pharma Labs software, our team worked together and took
                            responsibility to remove each and every issue permanently. From gathering requirements
                            to deployment of project our team co-ordinated with clients to reduce any type of
                            miscommunication.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/contact-form.png" alt="">
                        <h3>Register to Ease Pharmalabs</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/multiple-app.png" alt="">
                        <h3>Book Your Test </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-sec">
                    <img src="../../assets/img/icon/feature-2.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/download-report.png" alt="">
                        <h3>Download Test Report</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/payment.png" alt="">
                        <h3>Easy Payment</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class="col-md-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Through indianmandarins knowing about latest news and current affairs was easy, lot of
                            students and other applicants applying for civil services gained their knowledge through
                            indian mandarins, one place to know all. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/results-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
