<section class="page_title portpolio_banner ">
  <div class="container">
    <div class="section_content">
      <div class="row">
        <div class="col-lg-12 text-center">
          <nav class="breadcrumbs">
            <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
            <span><i class="fa fa-angle-double-right"></i></span>
            <span>Our Portfolio</span>
          </nav>
          <h2>Our Portfolio</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sco_services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading heading_half">
          <h1>Our Portfolio</h1>
          <p>Great Things Are Not Done By One Person They're Done By A Team Of People.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt_50">
  <div class="container-fluid">

    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/pet-grooming-in-canada.jpg" alt="" class="big_images">
          <div class="small_img" style="padding: 10px;">
            <img src="../../assets/img/Banner/gms.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Pets Registration </h1>
          <p>The Application Pets-Staging provides the functionality to generate certificates for your
            pets. Pets-Staging is designed to replace the traditional way to register your pets.
          </p>
          <a routerLink="/pet-registration-case-study">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Teacher Transfer
            Management System
          </h1>
          <p>TTMS ( Teacher Transfer Management System) Application is developed for automating the
            procedure of Intra District and Inter District Transfer for all Teaching and Non-Teaching
            Staff.</p>
          <a routerLink="/teacher-transfer-management-system-case-study">View Case Study <img
              src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/classroom_647_010517120944.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/ttms.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/agency.jpg" alt="" class="big_images">
          <div class="small_img" style="
                    padding: 10px;">
            <img src="../../assets/img/Banner/dictative.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Detective </h1>
          <p>This software was developed to perform a set of tasks that have been minimised by human
            input. It was a US based automation project where we have to reduce risks of errors and
            smooth workflows
          </p>
          <a routerLink="/detective-case-study">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Digital Center
          </h1>
          <p>Our main objective was to develop a spectacular website which can provide you services such
            as DTH Recharges, Pan Cards forms, digital insurance, and all the public services portal to
            make your journey smooth.</p>
          <a routerLink="/digital-center-case-study">View Case Study <img src="../../assets/img/Banner/next.png" alt="">
          </a>

        </div>
      </div>
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/digital-center.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/digital-center.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/incoune-backgorund.jpg" alt="" class="big_images">
          <div class="small_img" style="
                    padding: 10px;">
            <img src="../../assets/img/Banner/incoune-mobile.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Incounse </h1>
          <p>Our main objective was to develop a web application for students which can help them to
            maximise the chance of cracking India’s toughest Entrance Exams and to offer a study plan,
            that is crafted by the best JEE/NEET coaches and counsellors in the country.
          </p>
          <a routerLink="/incoune-case-study">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>PTS
          </h1>
          <p>Our main objective was to develop a static website which will provide you information on
            seminar and printing Exhibitions taking place in different parts of the worlds and will
            promote your equipment and machinery not only...</p>
          <a routerLink="/pts-case-study">View Case Study <img src="../../assets/img/Banner/next.png" alt="">
          </a>

        </div>
      </div>
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/printer.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/pts.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/inventory-management.png" alt="" class="big_images">
          <div class="small_img" style="
                    padding: 10px;">
            <img src="../../assets/img/Banner/invt.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Inventory Management </h1>
          <p>Our main objective was to create an application for managing the inventory of products, where
            users will be able to create purchase and sale orders. The main aim of this website is to
            keep the stock in such a way that it is neither overstock nor understock so that production
            should not suffer at the time of customers demand. To keep material cost under control as
            they contribute to reducing the cost of production and also to eliminate duplication in
            ordering stocks.
          </p>
          <a routerLink="/inventory-management-case-study">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>

    </div>
    <div class="row  pb_50">

      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Shubhecha </h1>
          <p>Our objective with Shubhecha was to create a mobile application through which users can
            create their own wedding cards and other wish cards to send via WhatsApp, Facebook and even
            on instagram. With the uprising of shubhecha use of paper will be reduced and at one point
            everything will be done digitally. Shubhecha is the best app today for sending free cards
            and wishes to your loved ones.
          </p>
          <!-- <a href="shubhecha-case-study">View Case Study
                        <img src="../../assets/img/Banner/next.png" alt=""> </a> -->

        </div>
      </div>

      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/background.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/subhachi.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/ss-bannerone.jpg" alt="">
          <div class="small_img">
            <img src="../../assets/img/Banner/ssdphotogrpahy.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>SSD Photography
          </h1>
          <p>Our objective was to develop a dynamic website where details, emotions, and memories of your
            wedding event which we have captured on our cameras, can be perfectly preserved and can be
            viewed, edit, and relieved at any time you wish. Through this website other users can also
            check out the new ideas and implement them in their wedding.
            Basically it’s a win win situation for everyone.
          </p>
          <a routerLink="/ssd-photography">View Case Study <img src="../../assets/img/Banner/next.png" alt="">
          </a>

        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Indian Mandarins</h1>
          <p><a href="https://www.indianmandarins.com/" target="blank">indianmandarins.com</a>, an
            initiative of New Media Network, is a multi-media initiative for the
            fast and real-time dissemination of news and information related to civil services, central
            PSUs and other institutions that play a critical role in governance, administration,
            corporate governance, and public life in India.</p>
          <a routerLink="/case-study-indian-mandarins">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/student-849821.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/web.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/portpolio01.jpeg" alt="" class="big_images">
          <div class="small_img">
            <img src="../../assets/img/Banner/web-2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Ease PharmaLabs </h1>
          <p>Ease PharmaLabs is digital testing lab service provider, we are an all-in-one digital lab
            platform to help for user and manufacture to provide fast testing services thru Digital
            Platform.</p>
          <a routerLink="/case-study-ease-pharma">View Case Study 
              <img src="../../assets/img/Banner/next.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Sai Creation </h1>
          <p><b>Our Main objective was to develop a website that sells</b><br>fusion of both traditional
            and modern collection clothes expressed in innovative shapes, embroideries, vibrant colors
            and exquisite fabric <b>at affordable prices.</b></p>
          <a routerLink="/sai-creation-case-study">View Case Study
            <img src="../../assets/img/Banner/next.png" alt=""> </a>

        </div>
      </div>
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_right_side">
          <img src="../../assets/img/Banner/creation.jpg" alt="" class="big_images">
          <div class="portpolio_small_right">
            <img src="../../assets/img/Banner/web-3.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb_50">
      <div class="col-lg-5 col-sm-5 p-0">
        <div class="portpolio_left_side">
          <img src="../../assets/img/Banner/chris-palomar-382366-unsplash-2560x1709.jpg" alt="" class="big_images">
          <div class="small_img">
            <img src="../../assets/img/Banner/web-4.png">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7">
        <div class="portpolio_content">
          <h1>Ambar Monica </h1>
          <p><b>Our Main objective was to develop an application to test different products for end user.

            </b><br>We developed a process that will help manufacturers save their time by providing
            online services...</p>
          <a routerLink="/case-study-ambar-monica">View Case Study <img src="../../assets/img/Banner/next.png" alt="">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
