
<!-- Banner section start -->

<section class="page_title marketing_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Marketing  &amp; Maintenance </span>
                    </nav>
                    <h2>Marketing  &amp; Maintenance </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!-- section working process start -->

<section class="mt_35">
    <div class="container">
        <div class="row no-gutters working-process-group">
            <div class=" col-6 col-lg-3 col-sm-3 text-center">
                <div class="single_work_process">
                    <div class="work_process_icon arrows">
                        <img src="../../assets/img/icon/24-hours.png" alt="1">
                    </div>
                    <h4>24/7 Emergency Support</h4>
                </div>
            </div>
            <div class=" col-6 col-lg-3 col-sm-3 text-center">
                <div class="single_work_process">
                    <div class="work_process_icon arrows">
                        <img src="../../assets/img/icon/operator.png" alt="2">
                    </div>
                    <h4 >Expert Consultation</h4>
                </div>
            </div>
            <div class=" col-6 col-lg-3 col-sm-3 text-center">
                <div class="single_work_process">
                    <div class="work_process_icon arrows">
                        <img src="../../assets/img/icon/database.png" alt="3">
                    </div>
                    <h4>Data Driven ROI</h4>
                </div>
            </div>
            <div class=" col-6 col-lg-3 col-sm-3 text-center">
                <div class="single_work_process">
                    <div class="work_process_icon ">
                        <img src="../../assets/img/icon/q.png" alt="4">
                    </div>
                    <h4 >Quick Response Times</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!--runway section start  -->

<section class="mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading runway">
                    <h4>Avenir offers your team the ability to provide enhancements and optimizations to your
                        marketing strategy and website at a fraction of the cost of hiring in-house talent.</h4>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-6 col-sm-6">
                <div class="marketing_content">
                    <h1>Digital Marketing Content Creation, Promotion, and Review</h1>
                    <p>From social media marketing to pay per click advertising, the team at Avenir Innovative
                        Solutions is ready to
                        create, promote and analyze your digital marketing campaigns to help boost your website
                        traffic and your bottom line.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="marketing_content">
                    <h1>Monthly Analytics Reporting</h1>
                    <p>Our Digital Account Managers work to create detailed analytics reporting each month to
                        showcase your website’s growth. Our team uses those analytics to help strategize for the
                        next month’s tasks to help improve the site.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="marketing_content">
                    <h1>Improve Overall Site Performance &amp; User Experience</h1>
                    <p>If customers can’t navigate your website and properly checkout, you’re losing business. Our
                        talented team of UX designers work diligently to improve your websites design to help make
                        the most of your business.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="marketing_content">
                    <h1>24/7 Emergency Coverage</h1>
                    <p>If your site is having issues and your customers can not check out, our team is ready to help
                        no matter what time of day. We’ll be ready to solve your emergency and get your site back to
                        selling products ASAP.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!-- What is include section start -->

<section class="m_section5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sec5">
                    <h4>WHAT IS INCLUDED ?</h4>
                </div>
                <div class="content-sec5">
                    <p>All the services you want and none that you don’t. </p>
                    <div class="list-ct5">
                        <ul>
                            <li>Design</li>
                            <li>Development</li>
                            <li>eCommerce Consultation</li>
                        </ul>
                        <ul>
                            <li>Q/A And Testing</li>
                            <li>Technical Account Management</li>
                            <li>Digital Marketing Services</li>             
                        </ul>           
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-popup></app-popup>
<app-footer></app-footer>