<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>PTS Case Study</span>
                    </nav>
                    <h2>PTS Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/PTS Logo final.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our main objective was to develop a static website which will provide you information on
                        seminar and printing Exhibitions taking place in different parts of the worlds and will
                        promote your equipment and machinery not only in india but in the global market and will
                        help you to get buyers for your products.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/pets01.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/pets02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/pets03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Content Management </h6>
                        <p>The content management process starts with aggregating content from a variety of sources.
                            Some contents exists in a structured or unstructured form. Organising and maintaining
                            collections of unstructured content is one of the chief challenge.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Website Responsive</h6>
                        <p>A web development approach that creates dynamic changes to the appearance of a website is
                            responsive web design. The above challenge was fixed by our professional developers to
                            eradicate your responsive site’s loading stress.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Website Loading</h6>
                        <p>Those visitors, who access website with a stable wifi or cable connection will have
                            little trouble downloading relatively big chunks of data, such as special animations or
                            big images. Mobile users on the other hand, who use 3G or 4G connections, will be
                            thankful for as little data as possible. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>We started to develop a one stop solution for multiple users with contact details, and
                            reached at a point where all the challenges faced by us were completely achieved. To
                            build a successful portal our team co-ordinated with clients to reduce any type of
                            miscommunication.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/about-printing.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Providing all your information<br> about printing </h3>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 feat_cont">
                <div class="img-sec">
                    <img src="../../assets/img/icon/pr.jpg" alt="">
                </div>
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/nearest.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Easy to find out nearest buyers</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/printing.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Easy to find out your<br>printing material</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>PTS is a static website developed for saving time and travel cost so that you can easily
                            justify the quality of the product. Also it will help you to promote your equipment and
                            machinery not only in india but in the global market and will help you to get buyers for
                            your products.
                        </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/result-incounse.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
