<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Sai Creation Case Study</span>
                    </nav>
                    <h2>Sai Creation Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/purchase.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our Main objective was to develop a website that sells fusion of both traditional and modern
                        collection clothes expressed in innovative shapes, embroideries, vibrant colors and
                        exquisite fabric at affordable prices.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-19.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-20.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-21.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Website Security</h6>
                        <p>Security approach has to be a priority for every business operating in the digital space
                            to retain the reputation of the brand and attract frequent customers. We build an
                            effective solution to evade suspicious networks while allowing only reliable traffic on
                            the website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Fast Processing</h6>
                        <p>One of the hardest challenge for us was site performance, page speed is of the utmost
                            importance. Because of the traffic visitors website was running low so it was our
                            challenge to handle multi users and their ordered products.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Multi User Access

                        </h6>
                        <p>In a multiuser environment, having several users simultaneously trying to modify the same
                            data can cause conflicts. With the help of our talented professionals, we were able to
                            overcome this challenge and were able to maintain multiple user accessibility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>To build a successful sai creation website, our team took responsibility to remove each
                            and every issue permanently. From handling traffic to maintaining security and users
                            accessibility, our team coordinated with the client and started to work on it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class=" col-lg-6 col-sm-12">
                <div class="img-sec">
                    <img src="../../assets/img/icon/feature-3.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/purchase.png" alt="">
                        <h3>Easy to Purchase</h3>
                    </div>
                    <div class="card ml_50">
                        <img src="../../assets/img/icon/multiple-app.png" alt="">
                        <h3>Better UI/UX</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/website.png" alt="">
                        <h3>Better UI/UX</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Sai Creation is an E-commerce websites, developed for selling traditional and modern
                            clothes at affordable prices. Developing this website helped users to buy fast which
                            increased sales and productivity </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/results-5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
