<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>SSD Photography Case Study</span>
                    </nav>
                    <h2>SSD Photography Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/ssd.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our objective was to develop a dynamic website where details, emotions, and memories of your
                        wedding event which we have captured on our cameras, can be perfectly preserved and can be
                        viewed, edit, and relieved at any time you wish. Through this website other users can also
                        check out the new ideas and implement them in their wedding.
                        Basically it’s a win win situation for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/ssd01.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/ssd02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/ssd03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Content Management </h6>
                        <p>Content management is an application that is used to manage allowing multiple users to
                            create, edit, and publish. Organising and maintaining collections of unstructured
                            content is one of the chief challenge.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Database Security </h6>
                        <p>Everyone takes security very seriously. Database security is aimed at the protection of
                            the information stored at the databases. This was one of the key challenges for
                            developing this website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Photo & Video Collection Manager
                        </h6>
                        <p>Challenge of managing, editing, and publishing photos and videos in one platform was a
                            difficult task. But having a team of professional designers and developers made it
                            easier to face the challenge and overcome it. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>To build a successful SSD Photography portfolio website, our team faced all the
                            challenges and worked so hard to overcome each of it. From handling content management
                            and database security, our team coordinated with the client and started to work on it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/testimonial.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Client Testimonials
                        </h3>
                    </div>
                    <div class="feat_cont">
                        <div class="card">
                            <img src="../../assets/img/icon/phtography.jpg" alt="">
                            <h3 style="
                            line-height: 24px;
                            margin-top: 25px;">New photography trends
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 feat_cont">
                <div class="img-sec">
                    <img src="../../assets/img/icon/pr.jpg" alt="">
                </div>

            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/location.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Setting up locations ahead<br> of time
                        </h3>
                    </div>
                </div>
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/printing.png" alt="">
                        <h3 style="
                        line-height: 24px;
                        margin-top: 25px;">Use of new equipments <br>to make wedding video
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>SSD Photography is a dynamic website developed for showcasing their years of experience
                            of making high quality cinematic style wedding films, videos to evoke the emotions of
                            the day again and make it memorable for users.
                        </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/resultssd.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
