<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Inventory Management Case Study</span>
                    </nav>
                    <h2>Inventory Management Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/invo-icon.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our main objective was to create an application for managing the inventory of products, where
                        users will be able to create purchase and sale orders. The main aim of this website is to
                        keep the stock in such a way that it is neither overstock nor understock so that production
                        should not suffer at the time of customers demand. To keep material cost under control as
                        they contribute to reducing the cost of production and also to eliminate duplication in
                        ordering stocks. </p>
                </div>
            </div>
        </div>
    </div>
</section>





<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Stock Management </h6>
                        <p>Everyday there’s countless hacking attempts, through which automation opens the door to
                            vulnerability. Being aware of these risks and understanding that everyone is vulnerable,
                            being proactive is the best solution. We gave our best to remove this issue permanently.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Product Management</h6>
                        <p>As a challenge, there was tension between short and long term product management
                            objectives which was time constraining and was lacking in control of product management
                            was a great challenge at that time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Data Security</h6>
                        <p>Data Tampering, Eavesdropping and Data Theft, Falsifying User Identities,
                            Password-Related Threats were some of the sub challenges we faced in data security. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>Building a successful inventory management website requires thorough process. By facing
                            all the challenges and working so hard to overcome each of it, our team handled Stock
                            management, Product management, and data security, coordinated with the client to ensure
                            successful delivery. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/purchase-product.jpg" alt="">
                        <h3>Purchase Product </h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/montring.png" alt="">
                        <h3>Sale Product</h3>
                    </div>
                    <div class="card ">
                        <img src="../../assets/img/icon/return-product.png" alt="">
                        <h3>Return Product</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mt-5 feat_cont">
                <div class="img-sec">
                    <img src="../../assets/img/icon/dev.png" alt="">
                </div>



            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/coupen-system.png" alt="">
                        <h3>Coupon system</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/pension-transfer-in-query.png" alt="">
                        <h3>Special Transfer Feature</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/energy-mangement.png" alt="">
                        <h3>Reports</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Inventory management is a dynamic website developed for saving paper and providing
                            transparency, so that it would be easier for users to purchase and sale orders. It is a
                            web application for admin, staff, supplier, and professional.
                        </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/resultint.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
