<!-- Get a Request Section Start -->
<section class="reqeust my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="heading">
            <h1>Let's Get Started</h1>
            <p>Our team is standing by to discuss your requirements and deliver a demo of our industry-leading platform.
            </p>
            <!-- <button class="btn btn_enquiry mt_35" data-toggle="modal" data-target="#modals">Request Demo</button> -->
            <button type="button" class="btn btn_enquiry mt_35" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Request Demo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Button trigger modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title text-center" id="exampleModalLabel">Let's Discuss about your project</h5>
          <p class="text-center">We create websites that drive businesses to your organization. Drop your info, we will
            call you back
          </p>
  
          <div class="contact_form modal_contact">
            <form id="enquerynow" method="POST">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Enter Name <span>*</span></label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Enter Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Enter Phone number <span>*</span></label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your number"  onkeypress="if ( isNaN(this.value +
                    String.fromCharCode(event.keyCode) ))" maxlength="12" minlength="10" ng2TelInput required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Enter Message</label>
                    <textarea name="message" id="" cols="30" name="message" class="form-control" rows="5"
                      placeholder="Enter Message" maxlength="1000"></textarea>
                  </div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                  <Button class="btn btn_enquiry" onclick="submitForm('enquerynow')">Send Message</Button>
                </div>
  
              </div>
  
            </form>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End -->
