<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                    <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                    <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Indian Mandarins Case Study</span>
                    </nav>
                    <h2>Indian Mandarins Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/indianlogo.png" alt="">
                    <h1>Business Objective</h1>
                    <p>An initiative of a New Media Network, a multi-media initiative for the fast and real-time
                        dissemination of news and information related to civil services, central PSUs and other
                        institutions that play a critical role in governance, administration, corporate governance,
                        and public life in India.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-13.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-14.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-15.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Placing advertisement banner</h6>
                        <p>Main request and our first challenge while creating a portal was creating advertisement
                            banner all over the page, at least 20 banners were placed on a single home page which
                            needs to be changed through admin panel.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Turning thoughts into reality</h6>
                        <p>While the project was still in development phase we received many change request from
                            client. Accepting and developing those changes was a challenge on its own.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>UI/UX appropriate design

                        </h6>
                        <p>Placing every banner with news content on same page was very hectic, as we need to make
                            website mobile friendly too. Showing banner and content and arranging them as such was a
                            great challenge at that time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>We started developing the portal from scratch and reached at a point where all the
                            challenges faced by us were completely achieved, UI, UX and mobile compatibility all
                            targets were achieved successfully.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class=" col-lg-6 col-sm-12">
                <div class="img-sec">
                    <img src="../../assets/img/icon/feature-3.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/performance.png" alt="">
                        <h3>Best performance</h3>
                    </div>
                    <div class="card ml_50">
                        <img src="../../assets/img/icon/multiple-app.png" alt="">
                        <h3>Regular updates</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/website.png" alt="">
                        <h3>Customisable website</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_35">
    <div class="testimonial_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/rakesh-ranjan.png" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="test_cont">
                        <h3>Rakesh Ranjan</h3>
                        <h4>Editor-in-chief, CEO- New Media Network</h4>
                        <p>I was totally Furustation with my earlier experiences various services providers with
                            whom I gave my website to manage but all of them were disgrace to this industry
                            fortunataly i come across UE Developer, a bunch of hardworking chaps with all the
                            ingridents of becoming great MNC company in future. They are managing my website Since
                            last 3 Years without any glitch </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Through indianmandarins knowing about latest news and current affairs was easy, lot of
                            students and other applicants applying for civil services gained their knowledge through
                            indian mandarins, one place to know all. </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/results-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
