<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Ambar Monica Case Study</span>
                    </nav>
                    <h2>Ambar Monica Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/ambar-monica-logo.png" alt="">
                    <h1>Business Objective</h1>
                    <p>Our objective was to develop an eye catching website which can showcase Ambar Monica
                        handicrafts, murals, art, clay crafts and design and to spread their message of expressing
                        ourselves in clay and also develop cognitively.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="screen_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-22.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-23.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 posi_inherit">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/screen-24.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Multiple user load</h6>
                        <p>Because of the multiple traffic visitors website was running low so it was our challenge
                            to handle multi users load. With the help of our talented professionals, we were able to
                            overcome this challenge and were able to maintain multiple user accessibility.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Database Management</h6>
                        <p>In the last few years, data volumes have grown and the way we use data has changed. As a
                            challenge to us, our team worked and found a solution to manage the amount of data
                            generated.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Website Quality

                        </h6>
                        <p>High-quality content creation is a proven way to build an audience and grow. Generating a
                            high quality website contains a unique set of challenges. But our specialist worked
                            according to the clients requirements and was able to overcome these obstacles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>The solutions for the challenges we faced helped us to increase website loading speed,
                            productivity and fast database accessing. All the targets were fully achieved with the
                            help of our professional developers and project managers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/showcase.png" alt="">
                        <h3>Easy to Showcase our products</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/multiple-app.png" alt="">
                        <h3>Better UI/UX</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-sec">
                    <img src="../../assets/img/icon/features-overview-concept.jpg">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/ux.png" alt="">
                        <h3>Easy to manage website</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/performance.png" alt="">
                        <h3>Best performance</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Ambar Monica is a dynamic website, developed for showcasing, teaching and reviving
                            traditional and modern crafts while still being accepted into the complex urban
                            structure. Developing this website helped users to decrease travel cost, paperwork. </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/results-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
