<!-- Banner Section Start -->

<section class="page_title automation_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>Automation Solutions</span>
                    </nav>
                    <h2>Automation Solutions</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!-- about automation software business start -->

<section class="mt_35 automation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <h1>Automation Software That Scales With Your Business</h1>
                <p> <b>Avenir </b> offers scalable automation software that automates virtually any business or IT
                    process.
                    Our product line provides automation solutions designed to meet the needs of any organization:
                </p>

          
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/gears-lg.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Automate Desktop</h1>
                        <p>Easily configurable robots for single user desktop automation. </p>
                    </div>
                </div>
                <hr>
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/am-data-capture-icon_1.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Automate Intelligent Capture</h1>
                        <p>Intelligent automation to capture and extract complex document data. </p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img src="../../assets/img/icon/automaiton.gif" alt="" class="automation_img">
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!-- Section what makes different start -->

<section class="different">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>What Makes Automate Different?</h1>
                    <p>Avenir Innovative Solutions Automate offers scalable automation software to solve real
                        problems, deliver
                        value faster, and achieve automation success—all within a single solution. With superior
                        flexibility and scalability, you can easily go from basic automated tasks to full
                        enterprise-level deployment. We’ve got you covered for wherever you want to go—and
                        everything in between.</p>
                </div>
            </div>
        </div>
        <div class="row differnt_card" style="margin-top: 35px;">
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="card1">
                    <img class="card-img-top" src="../../assets/img/icon/am-keep-it-simple.png " alt="Card image">
                    <h4 class="card-title">CODELESS AUTOMATION</h4>
                    <div class="card-body">
                        <p class="card-text">RPA bots with no code that you can use as attended or unattended with
                            600+ pre-built automation actions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="card1">
                    <img class="card-img-top" src="../../assets/img/icon/am-scale-as-grow.png " alt="Card image">
                    <h4 class="card-title">EASY TO IMPLEMENT AND USE
                    </h4>
                    <div class="card-body">
                        <p class="card-text">Rated above other RPA providers for ease of implementation, usability,
                            and intuitiveness.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="card1">
                    <img class="card-img-top" src="../../assets/img/icon/am-high-performance.png " alt="Card image">
                    <h4 class="card-title">REAL VALUE AND ROI</h4>
                    <div class="card-body">
                        <p class="card-text">Recognized for best return on investment by users, delivering five
                            times more value than other RPA solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->

<!-- section about progress start -->

<section class="mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>What Processes Can You Automate?</h1>
                    <p>There are so many types of business processes you can streamline with Automate—from data
                        scraping and extraction to web browser tasks to integrating with your most critical business
                        applications. The possibilities for digital transformation are endless.</p>
                </div>
            </div>
        </div>
        <div class="row  processes" style="margin-top: 35px;">
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Excel Automation</h1>
                        <p>Go beyond macros to automate Excel reports for more efficient and accurate Excel processes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Web Browser Automation</h1>
                        <p>Streamline web data extraction with automated navigation, input, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Automated Data Extraction</h1>
                        <p>Eliminate manual tasks and custom script writing for automated data aggregation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Automated User Provisioning</h1>
                        <p>Automate user provisioning for tools like Microsoft Exchange and Active Directory.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Report Generation and Distribution</h1>
                        <p>Manipulate data and automate reporting across your organization.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Easy Automation</h1>
                        <p>Low code automation so you won't have to rely on devs and software engr. Easy automation is set for rapid market growth.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Automated File Transfer</h1>
                        <p>Automate file, data transfer, ETL and EDI to manage a high volume of transfers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="product_content">
                    <div class="product_img">
                        <img src="../../assets/img/icon/check-mark.png" alt="">
                    </div>
                    <div class="product_inner_content">
                        <h1>Cross automation</h1>
                        <p>Cross-automation to find the behavior of your website and application on various platforms. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->



