/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

/* Header Section */

.navbar-brand
{
    width: 7% !important;
    padding: 0px 0px !important;
    margin-right: 71px !important;
}

img
{
    width: 100%;
}

.navbar
{
    padding: 0 !important;
    text-transform: uppercase;
}

.navbar-nav.m-auto .nav-link {
     padding-right: 35px !important; 
     margin-top: 19px !important; 
     padding-top: 0 !important; 
}

/* .navbar-expand-md .navbar-nav .nav-link {
    padding: 0 !important;
    font-size: 11px !important;
    padding: 0px 10px;
    padding-right: 22px;
    margin-top: 8px;
    font-size: 10px;
    color: #484F57;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
    font-weight: 600;
} */

 .service {
    font-size: 18px;
    color: #000;
    font-weight: 800;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif !important;
}


.service_header {
    display: inline-grid;
    border-left: 1px solid #A5A5A5;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-item.dropdown:hover{
    background-color: #000;
    color: white;
}

.nav-item.dropdown:hover .eccommerce {
    color: white;
}

.nav-item.dropdown:hover .service {
    color: white;
}

.nav-item.dropdown:hover .border_left .service {
    color: white;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
    border-top: 0.5em solid white !important;
}


.eccommerce {
    font-size: 12px;
    line-height: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    display: block;
}

.nav-item.dropdown:hover .dev-bot {
    background-color: white;
}
.dev-bot {
    display: block;
    background: black;
    height: 3px;
    width: 30px;
    margin-top: 3px;
}

.dropdown-toggle::after {
    display: inline-block !important;
    margin-left: 9px !important;
    vertical-align: -12px !important;
    content: "" !important;
    border-top: .5em solid #fe0000 !important;
    border-right: .5em solid transparent !important;
    border-bottom: 0 !important;
    border-left: .5em solid #cb000000 !important;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 10px;
    margin-top: 8px;
    font-size: 10px;
    color: #484F57;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.btn_enquiry {
    background: #fe0000 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: white !important;
    border-radius: 30px !important;
    padding: 4px 24px !important;
    cursor: pointer !important;
    font-family: 'Oswald', sans-serif !important;
}

/*  Dropdown Menu */

.dropdown:hover .dropdown-menu {
    display: block;
    left: -17px;
}

.mg-3
{
    width: 750px;
    display: flex;
    padding: 15px 10px 5px 10px;
}

.service_content {
    display: flex;
    width: 50%;
}

.serive_img {
    width: 15%;
    height: 49px;
}

.serive_img img {
    width: 100%;
}

.serive_heading {
    width: 90%;
    margin-left: 10px;
}

.serive_heading h3 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.service_content a {
    display: flex;
    text-decoration: none;
}

.megamenu
{
    margin-left: -100px !important;
}


/* Slider */

.carousel-caption
{
    padding-bottom: 13.25rem !important;
}

.carousel-inner
{
    border-bottom: 5px solid #fe0000 !important;
}

.carousel-caption h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    color: white;
    text-transform: uppercase;
}

.carousel-control-next-icon, .carousel-control-prev-icon
{
    background-color: #fe0000 !important;
    border-radius: 20px !important;
}

.carousel-indicators [data-bs-target] 
{
    background-color: #fe0000 !important;
}

/* Section Our Project */

.heading p {
    width: 73%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.mt_20
{
    margin-top: 20px;
}

.hb_process
{
    display: flex;
    justify-content: center;
}