<section class="page_title portpolio_banner ">
    <div class="container">
        <div class="section_content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="breadcrumbs">
                        <span><a routerLink="/" rel="home" class="text-danger">Home</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span><a routerLink="/Our-Portfolio" rel="home" class="text-danger">Portfolio</a></span>
                        <span><i class="fa fa-angle-double-right"></i></span>
                        <span>inCounse Case Study</span>
                    </nav>
                    <h2>inCounse Case Study</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case_study mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <img src="../../assets/img/icon/logo-white.png">
                    <h1>Business Objective</h1>
                    <p>Our main objective was to develop a web application for students which can help them to
                        maximise the chance of cracking India’s toughest Entrance Exams and to offer a study plan,
                        that is crafted by the best JEE/NEET coaches and counsellors in the country.</p>
                </div>
            </div>
        </div>
    </div>
</section>





<section class=" mt_35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Business Challenges</h1>

                </div>
            </div>
        </div>
        <div class="row android">
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>UI/UX Improvement</h6>
                        <p>Sometimes it’s the small UI/UX elements that make the biggest impact. It’s the feeling of
                            ease and simplicity that you get from great design. Creating a flawless experience was
                            our challenge we faced while developing this web application.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Security</h6>
                        <p>In the midst of design and user experience, web app security is often neglected. Security
                            issues in-app will be a troublesome concern for developers especially when the
                            application is dealing with the vital information such as payment details, contact
                            information, and confidential data.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="levers_item d-flex ">
                    <div class="levers_content ">
                        <div class="border-grapf"></div>
                        <h6>Students Performance </h6>
                        <p>No user like slow load times. This is one of the main challenges we faced while making
                            web application. Our developers build a robust application to ensure performance. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_35">
    <div class="solution_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont">
                        <h3>Business Solution</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="sol_cont_des">
                        <p>Thorough Understanding is must while developing a web application for students. Reducing
                            Extra Plugins, securing payment gateway and Bulk Upload of question features were made
                            easy because of our professionals developers, which made successful delivery of your web
                            development project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_35 key_features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Key Features</h1>
                </div>
            </div>
        </div>
        <div class="row mt_35">
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/mock-test.png" alt="">
                        <h3>Unlimited Mock Test </h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/weekely-test.jpg" alt="">
                        <h3>Weekly Targets</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 feat_cont">
                <div class="img-sec">
                    <img src="../../assets/img/icon/incoune_s.jpg" alt="">
                </div>


            </div>
            <div class="col-lg-4">
                <div class="feat_cont">
                    <div class="card">
                        <img src="../../assets/img/icon/topick-wise.png" alt="">
                        <h3>Topic- wise Performance</h3>
                    </div>
                    <div class="card">
                        <img src="../../assets/img/icon/profbility.png" alt="">
                        <h3>Overall Probability </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="result_sec">
        <div class="container">
            <div class="row vertical-align-center">
                <div class=" col-lg-6 col-sm-6">
                    <div class="cont">
                        <h2>Results</h2>
                        <p>Incounse is a Web Application developed for tracking performances of students for India’s
                            toughest Exam. Knowing about Probability to crack exams, topic-wise performances, and
                            graphical analytics was made easy through incounse.
                        </p>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-6">
                    <div class="img_sec">
                        <img src="../../assets/img/icon/result-incounse.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
