<!-- Slider start -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/Banner/transformation-3753466_1920.jpg" class="d-block w-100" alt="...">


      <div class="carousel-caption d-none d-md-block">
        <h1>Tramsform Your Business with Experts.</h1>
        <p>Our consulting experts embrace your business needs and are with you throughout the lifecycle of
          your solution. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/Banner/20191112054904-FotoJet32.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>DIGITAL MARKETING</h1>
        <p>Our marketing experts our quite familiar with the algorithms of google
          for ranking a website. We help you rank up an be more discoverable. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/Banner/banner1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>SOFTWARE DEVELOPMENT</h1>
        <p>A custom software development with quality assurance work to develop world-class software. </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Slider End -->

<!-- Section Our Project Management start -->

<section>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <h1>Our Project Management Approach</h1>
          <p>"Our diverse expertise optimizes your app for maximum results"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt_20">
  <div class="container">
    <div class="row">
      <div class="col-12 nbm">
        <div class="mangae_box_content">
          <ul class="hb_process">
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-search" aria-hidden="true"></i>
                <h4 class="bold">Analysis</h4>
                <div class="hb_small_break"></div>
                <p>Identify the improvements needed in project planning.</p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                <h4 class="bold">Planning</h4>
                <div class="hb_small_break"></div>
                <p>Specify task and goals to be achieved before timeline.</p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-files-o" aria-hidden="true"></i>
                <h4 class="bold">Documentation</h4>
                <div class="hb_small_break"></div>
                <p>Well-organized
                  documentation help you
                  get started
                </p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <h4 class="bold">Design</h4>
                <div class="hb_small_break"></div>
                <p>Wireframes Design,
                  UX &amp; UI Design</p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <h4 class="bold">Development</h4>
                <div class="hb_small_break"></div>
                <p>Develop App, Support
                  &amp; Maintenance</p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-bug" aria-hidden="true"></i>
                <h4 class="bold">Testing</h4>
                <div class="hb_small_break"></div>
                <p>A real-time, meaningful
                  user acceptance testing</p>
              </div>
            </li>
            <li>
              <div class="manage_box aligncenter">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <h4 class="bold">Delivery</h4>
                <div class="hb_small_break"></div>
                <p>100% On-Time Delivery
                  Guaranteed</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End -->



<!-- What we do section start  -->

<section class="mt_35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <h1>We design
            imaginations</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/website-icon.png" alt="">
          </div>
          <h3 class="title">WEBSITE DEVELOPMENT</h3>
          <p class="description">We are the professionals for designing an engaging website. Our websites
            run seamlessly on all the platforms giving the users an easy acces</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/seo-icon.png" alt="">
          </div>
          <h3 class="title">DIGITAL MARKETING</h3>
          <p class="description">Our marketing experts our quite familiar with the algorithms of google
            for ranking a website. We help you rank up an be more discoverable. </p>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/software-develop.png" alt="">
          </div>
          <h3 class="title">SOFTWARE DEVELOPMENT</h3>
          <p class="description">A custom software development with quality assurance work to develop
            world-class software. Our technical experts are unparalleled committed to client
            satisfaction. </p>

        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/graphic-icon.png" alt="">
          </div>
          <h3 class="title">GRAPHIC DESIGNING</h3>
          <p class="description">We draw down your vision. We practice expertise in logo designing, Banner
            designing, Brochure designing and Visiting Card designing.

          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/android-icon.png" alt="">
          </div>
          <h3 class="title">MOBILE APP</h3>
          <p class="description">Our made applications are easy to use, smooth and a masterpiece of
            creativity and technology.</p>

        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><img src="../../assets/img/icon/software-license.png" alt="">
          </div>
          <h3 class="title">SOFTWARE LICENSING</h3>
          <p class="description">We provide software licenses that grant permission for anybody to use,
            modify, and share licensed software for any purpose.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Web Development Process Start -->

<section class="stunning-header-bg-lightgray mt_35">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <h1>Web Developement Process</h1>
        </div>
      </div>
      <div class="col-lg-12 mt_35 text-center">
        <img src="../../assets/img/icon/web-design.gif" alt="">
      </div>
    </div>
  </div>
</section>

<!-- End -->

<!-- Statstics Section Start -->

<div class="statistics-section bg-gradient1 pad-tb tilt3d">
  <div class="container">
    <div class="row justify-content-center t-ctr mb-100">
      <div class=" col-6 col-lg-4 col-sm-6">
        <div class="statistics">
          <div class="statistics-img">
            <img src="../../assets/img/icon/startup.svg" alt="years" class="img-fluid">
          </div>
          <div class="statnumb">
            <span class="counter">3 </span><span>+</span>
            <p>Years In Business</p>
          </div>
        </div>
      </div>
      <div class=" col-6 col-lg-4 col-sm-6">
        <div class="statistics">
          <div class="statistics-img">
            <img src="../../assets/img/icon/team.svg" alt="team" class="img-fluid">
          </div>
          <div class="statnumb">
            <span class="counter"> 40</span><span>+</span>
            <p>Team Members</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row small t-ctr">
      <div class=" col-6 col-lg-3 col-sm-6 mb-20">
        <div class="statistics">
          <div class="statistics-img">
            <img src="../../assets/img/icon/deal.svg" alt="happy" class="img-fluid">
          </div>
          <div class="statnumb">
            <span class="counter"> 200+</span>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>
      <div class=" col-6 col-lg-3 col-sm-6">
        <div class="statistics">
          <div class="statistics-img">
            <img src="../../assets/img/icon/computers.svg" alt="project" class="img-fluid">
          </div>
          <div class="statnumb counter-number">
            <span class="counter">350+</span><span></span>
            <p>Projects Done</p>
          </div>
        </div>
      </div>
      <div class=" col-6 col-lg-3 col-sm-6">
        <div class="statistics">
          <div class="statistics-img">
            <img src="../../assets/img/icon/worker.svg" alt="work" class="img-fluid">
          </div>
          <div class="statnumb">
            <span class="counter">168</span><span>k</span>
            <p>Hours Worked</p>
          </div>
        </div>
      </div>
      <div class=" col-6 col-lg-3 col-sm-6">
        <div class="statistics mb0">
          <div class="statistics-img">
            <img src="../../assets/img/icon/customer-service.svg" alt="support" class="img-fluid">
          </div>
          <div class="statnumb">
            <span>24/7</span>
            <p>Support Available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End -->


<!-- Our Technology -->

<div class="ourtechnology mt_35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <p>TECHNOLOGY WE SERVE</p>
          <h1>Some of our Technologies</h1>
        </div>
      </div>
    </div>
    <div class="row mt_35" id="outeachnology">
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
          <img src="../../assets/img/icon/angular.jpg">
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
          <img src="../../assets/img/icon/javaimg.jpg">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
          <img src="../../assets/img/icon/android.png">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
          <img src="../../assets/img/icon/ios (2).png">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
           <img src="../../assets/img/icon/nextjs.png" style="width: 115px;">
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
           <img src="../../assets/img/icon/html.png">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
           <img src="../../assets/img/icon/react.png" style="width: 115px;" >
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner"> 
          <img src="../../assets/img/icon/jquery.png">
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner"> 
          <img src="../../assets/img/icon/sql.jpeg">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner"> 
          <img src="../../assets/img/icon/ph.jpg">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner">
           <img src="../../assets/img/icon/laravel.png">
          </div>
      </div>
      <div class="col-6 col-lg-2 col-md-6">
        <div class="teachnology_inner"> 
          <img src="../../assets/img/icon/node-js.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end -->

<!-- Testimonial section Start -->

<section class="testiomonial mt_35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <h1 class="text-white">Our Testimonials</h1>
          <p class="text-white">What our customers are Saying!</p>
        </div>
      </div>
    </div>
    <div class="carousel1">
      <div>
        <div class="card">
          <div class="card-header">
            <img src="../../assets/img/icon/test001.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <!-- <div class="card-title">This is the First slider</div> -->
              <div class="card-text">
                <p>This company has done a wondrous job by creating a website for me. My business has seen a
                  drastic change! I will definitely contact them in near future if the need arises.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header">
            <img src="../../assets/img/icon/test003.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <!-- <div class="card-title">This is the Second slider</div> -->
              <div class="card-text">
                <p>D for developers and D for dedication too! UE Developer has helped me in lifting my
                  business towards success with their creative websites. Pleasure working with them!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header">
            <img src="../../assets/img/icon/test004.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <!-- <div class="card-title">This is the Third slider</div> -->
              <div class="card-text">
                <p>Worked with them for the first time and really impressed with their way of doing the
                  project. A creative website with all my requirements done has been provided to me on
                  time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header">
            <img src="../../assets/img/icon/test005.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <!-- <div class="card-title">This is the Fourth slider</div> -->
              <div class="card-text">
                <p>They marked every single detail and fulfilled every single point claimed by us. Liked the
                  hard work they put into their work. Good luck!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header">
            <img src="../../assets/img/icon/test006.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <!-- <div class="card-title">This is the Fifth slider</div> -->
              <div class="card-text">
                <p>A bunch of developers who are like gems. All of them possess a passion to deliver good
                  quality work which can be seen in the output results.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end -->


<!-- Our Clients Slider -->

<section class="mt_35 clients_logo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="heading">
          <h1>Our Clients</h1>
          <p>On seeing below, you can see a number of clients we have worked with. Clients form a basic
            part as they help in building a company’s reputation. As we value our clients, they also
            value us in the same way.</p>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-12">
        <div class="clients_logos">
          <div class="logo_slider">
            <img src="../../assets/img/icon/airforce.png" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/bee.jpg" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/costgard.png" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/payselfy300.png" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/sgs.png" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/post300.png" alt="">
          </div>
          <div class="logo_slider">
            <img src="../../assets/img/icon/yatra-icon.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end -->


<app-popup></app-popup>

<app-footer></app-footer>