<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/Banner/transformation-3753466_1920.jpg" class="d-block w-100" alt="...">
           
        
        <div class="carousel-caption d-none d-md-block">
          <h1>Tramsform Your Business with Experts.</h1>
          <p>Our consulting experts embrace your business needs and are with you throughout the lifecycle of
            your solution. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Banner/20191112054904-FotoJet32.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>DIGITAL MARKETING</h1>
          <p>Our marketing experts our quite familiar with the algorithms of google
            for ranking a website. We help you rank up an be more discoverable. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Banner/banner1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>SOFTWARE DEVELOPMENT</h1>
          <p>A custom software development with quality assurance work to develop world-class software. </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">
                    <h1>Our Project Management Approach</h1>
                    <p>"Our diverse expertise optimizes your app for maximum results"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt_20">
    <div class="container">
        <div class="row">
            <div class="col-12 nbm">
                <div class="mangae_box_content">
                    <ul class="hb_process">
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <h4 class="bold">Analysis</h4>
                                <div class="hb_small_break"></div>
                                <p>Identify the improvements needed in project planning.</p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                <h4 class="bold">Planning</h4>
                                <div class="hb_small_break"></div>
                                <p>Specify task and goals to be achieved before timeline.</p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                <h4 class="bold">Documentation</h4>
                                <div class="hb_small_break"></div>
                                <p>Well-organized
                                    documentation help you
                                    get started
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <h4 class="bold">Design</h4>
                                <div class="hb_small_break"></div>
                                <p>Wireframes Design,
                                    UX &amp; UI Design</p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                <h4 class="bold">Development</h4>
                                <div class="hb_small_break"></div>
                                <p>Develop App, Support
                                    &amp; Maintenance</p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-bug" aria-hidden="true"></i>
                                <h4 class="bold">Testing</h4>
                                <div class="hb_small_break"></div>
                                <p>A real-time, meaningful
                                    user acceptance testing</p>
                            </div>
                        </li>
                        <li>
                            <div class="manage_box aligncenter">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                                <h4 class="bold">Delivery</h4>
                                <div class="hb_small_break"></div>
                                <p>100% On-Time Delivery
                                    Guaranteed</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
